# Common temporary files
thumbs.db
.DS_Store

# Python compiled objects
*.pyc
__pycache__/
.mypy_cache/

# Common editor temporary files
*~
.#*#

# Modules and object files
*.o
*.mod

exec

# Keep all gitkeep files to retain directory structure
!*/.gitkeep
