# Common temporary files
thumbs.db
.DS_Store

# Python compiled objects
*.pyc
__pycache__/
.mypy_cache/

# Common editor temporary files
*~
.#*#

# Modules and object files
*.o
*.mod

exec
fortran77_scalar_looptest/run1_52x26x26x26nc2rADJnf2b2.300000m1.000000n1

# Keep all gitkeep files to retain directory structure
!*/.gitkeep
fortran77_scalar_looptest/run1_52x26x26x26nc2rADJnf2b2.300000m1.000000n1
